{% extends 'index.html' %}

{% block extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hangar.js"></script>
{% endblock %}

{% block header %}
<script type="text/javascript">

    var username = '{{ user.username }}';
    var id = '{{ user.id }}';

</script>
<div id="logo"><a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="Avioane" /></a></div>

<!--<nav id="user_menu">
    <ul>
        <li>Register</li>
        <li>Login</li>
    </ul>
</nav>-->

<nav id="user_menu_logged">
    <ul>
        <li><div class="user_avatar"><img src="{{ userprofile.user.gravatar_url }}?s=21" alt="avatar" /></div><h3 id="user_name">{{ user.username }}</h3></li>
        <li><img src="{{ STATIC_URL }}img/user/menu/icon_drop.png"/></li>
        <li><a href="/logout"><img src="{{ STATIC_URL }}img/user/menu/icon_logout.png"/></a></li>
    </ul>
</nav>

<nav id="game_menu">
    <ol>
        <li><a href="/">home</a></li>
        <li><a href="/hangar">hangar</a></li>
        <li><a href="/shop">shop</a></li>
        <li><a href="/help">help</a></li>
    </ol>
</nav>


<div id="notificationBig" class="notification">Congratulations! You’we just leveled up!</div>

{% endblock %}
{% block content %}
        <script>
            var max_load = {{ max_load }};
        </script>
<div id="body">

    <div id="hangar" class="clearfix">

        <div id="hangar_sidebar">
            <div id="customize_platform">
                <div id="hangar_platform" class="clearfix">
                    <h2 class="online_player_name">{{ user.username }}</h2>
                    <div class="online_player_plane"><img src="{{ STATIC_URL }}img/lobby/avioane/{{ avion }}.png" alt="mig" /></div>
                    <div id="customize_platform_button">customize</div>
                </div>
            </div>
            <div id="plane_info">
                <ul>
                    <li>Model: {{ avion }}</li>
                    <li>Max Weapon Load: {{ max_load }}</li>
                    <li>Nickaname: Hawk</li>
                </ul>
            </div>
            <div id="buy_weapons" class="stats_contrast">
                buy weapons
            </div>
        </div>

        <div id="hangar_body">
            <div id="hangar_body_top" class="clearfix">
                <div id="plane_holder">
                    <h4 id="plane_holder_header">Drag weapons to equip</h4>
                    <img src="{{ STATIC_URL }}img/hangar/avioane/{{ avion }}.png" alt="plane"/>
                </div>
                <div id="weapon_info" class="clearfix">
                    <ul id="used_weapons">
                        {% for weapon in use_weapons %}
                            <li data-info="{{ weapon.weapon.name }}"><img src="{{ STATIC_URL }}img/store/weapons/{{ weapon.weapon.image }}.png"  alt="{{ weapon.weapon.name }}" /><ul class="weapon_stats"><li>{{ weapon.weapon.name }}: Level 1</li><li>Scan range: 8%</li></ul><div class="weapon_change">remove</div></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="hangar_body_bottom">
                <div id="weapon_holder" class="clearfix">
                    <ul>
                        {% for weapon in weapons %}

                             <li><div class="weapon" data-image="{{ weapon.weapon.image }}" data-type="{{ weapon.weapon.name }}"><img src="{{ STATIC_URL }}img/store/weapons/{{ weapon.weapon.image }}.png" alt="radar"/></div><div class="weapon_amount">{{ weapon.qty }}</div></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>


{% endblock %}