{% extends 'index.html' %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/battle.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/war.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/frontend.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plane.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/collissions.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/socket.io-client/dist/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/coffee_draw.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lobby.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/game_style.css">

{% endblock %}
{% block header %}
    <script type="text/javascript">

        var username = '{{ user.username }}';
        var id = '{{ user.id }}';
        var lvl = {{ userprofile.lvl }} * {{ userprofile.lvl }} * {{ userprofile.lvl }} * 5;
        var progress = 100 * {{ userprofile.exp }} / lvl;
        var avion = '{{ userprofile.avion }}' ;

    </script>
    <div id="logo"><a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="Avioane" /></a></div>

    <!--<nav id="user_menu">
             <ul>
                 <li>Register</li>
                 <li>Login</li>
             </ul>
         </nav>-->

    <nav id="user_menu_logged">
        <ul>
            <li><div id="user_avatar"><img src="{{ userprofile.gravatar_url }}?s=21" alt="avatar" /></div><h3 id="user_name">{{ user.username }}</h3></li>
            <li><img src="{{ STATIC_URL }}img/user/menu/icon_drop.png"/></li>
            <li><a href="/logout"><img src="{{ STATIC_URL }}img/user/menu/icon_logout.png"/></a></li>
        </ul>
    </nav>

    <nav id="game_menu">
        <ol>
            <li><a href="/">acasa</a></li>
            <li><a href="#">hangar</a></li>
            <li><a href="#">batalie</a></li>
            <li><a href="#">hall of fame</a></li>
        </ol>
    </nav>


    <div id="notification">Congratulations! You’we just leveled up!</div>

{% endblock %}
{% block content %}
    <div id="sub_holder">

        <div id="sub_header">

            <ul id="user_stats">

                <li>
                    <div id="user_division"><h2 class="stats_header">division</h2><h3 class="stats_text">{{ userprofile.division }}</h3></div>
                </li>

                <li>
                    <div id="user_level"><h2 class="stats_header">level</h2><h3 class="stats_text">{{ userprofile.lvl }}</h3></div>
                    <div id="user_level_bar"><div id="user_level_bar_progress"></div></div>
                    <div id="user_level_points"><h4 class="stats_points" id="user_progress"></h4></div>
                </li>

                <li>
                    <div id="user_clan"><h2 class="stats_header">clan</h2><h3 class="stats_text"><img src="{{ STATIC_URL }}img/user/stats/clan_img.png" alt="clan"/></h3></div>
                    <div id="user_clan_bar"></div>
                    <div id="user_clan_bar_end"></div>
                </li>
                <li>
                    <a href="#"><div id="user_battle"><h3 class="stats_text">battle</h3></div></a>
                </li>


            </ul>

        </div>

    </div>

    <div id="versus">

        <ul id="versus_players">
            <li id="versus_p1"><div id="versus_p1_name">arghy zmeu</div><div id="versus_p1_stats"><ul><li id="lvl1">level: 47</li><li id="clan1">clan: Outclan</li><li id="won1">won: 35</li><li id="lost1">lost: 28</li></ul></div><div id="versus_p1_plane"><img id="img1" src="/static/img/user/lobby/avioane/mig.png" alt="mig" /></div></li>
            <li id="vs"></li>
            <li id="versus_p2"><div id="versus_p2_name">arghy zmeu</div><div id="versus_p2_stats"><ul><li id="lvl2">level: 47</li><li id="clan2">clan: Outclan</li><li id="won2">won: 35</li><li id="lost2">lost: 28</li></ul></div><div id="versus_p2_plane"><img id="img2" src="/static/img/user/lobby/avioane/mig.png" alt="airborne" /></div></li>
            <div class="clearfix"></div>
        </ul>

    </div>
    <a id="start_battle_a" href="#"><div id="start_battle_button">start battle</div></a>
    <div id="battle">

        <div id="map"></div>

        <div id="mini_map"></div>


        <div id="planes_health">
            <ul>
                <li><div class="mini_plane"></div><div class="plane_health_bar"><div class="plane_health"></div></div></li>
                <li><div class="mini_plane"></div><div class="plane_health_bar"><div class="plane_health"></div></div></li>
                <li><div class="mini_plane"></div><div class="plane_health_bar"><div class="plane_health"></div></div></li>
                <div class="clearfix"></div>
            </ul>

            <div id="console">
                Last shot: Missed (A-5) (5:20 , 5/5/2012)
                Last shot: Missed (A-4) (5:20 , 5/5/2012)
                Last shot: Missed (D-8) (5:20 , 5/5/2012)
                Last shot: Missed (F-3) (5:20 , 5/5/2012)
            </div>

        </div>

    </div>

    <div id="lobby" class="clearfix">

        <h3>Online Players</h3>

        <ul id="online_players_list">

            <div class="clearfix"></div>

        </ul>


    </div>

        <div id="game" style="display: none">
            <div id="gameTools">
                <button id="ready">I'm Ready!</button>
            </div>
            <div id="gameHolder" style="position: relative;"></div>
        </div>

    <div id="win-loss" style="display: none;">
        YOU WON!
    </div>

{% endblock %}