{% extends 'index.html' %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/battle.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/war.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/frontend.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plane.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/collissions.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/socket.io-client/dist/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/coffee_draw.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lobby.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/game_style.css">

{% endblock %}
{% block header %}
    <script type="text/javascript">

        var username = '{{ user.username }}';
        var id = '{{ user.id }}';
        var lvl = {{ userprofile.lvl }} * {{ userprofile.lvl }} * {{ userprofile.lvl }} * 5;
        var progress = 100 * {{ userprofile.exp }} / lvl;
        var avion = '{{ userprofile.avion }}' ;

    </script>
    <div id="logo"><a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="Avioane" /></a></div>

    <!--<nav id="user_menu">
             <ul>
                 <li>Register</li>
                 <li>Login</li>
             </ul>
         </nav>-->

    <nav id="user_menu_logged">
        <ul>
            <li><div class="user_avatar"><img src="{{ userprofile.gravatar_url }}?s=21" alt="avatar" /></div><h3 id="user_name">{{ user.username }}</h3></li>
            <li><img src="{{ STATIC_URL }}img/user/menu/icon_drop.png"/></li>
            <li><a href="/logout"><img src="{{ STATIC_URL }}img/user/menu/icon_logout.png"/></a></li>
        </ul>
    </nav>

    <nav id="game_menu">
        <ol>
            <li><a href="/">acasa</a></li>
            <li><a href="#">hangar</a></li>
            <li><a href="#">batalie</a></li>
            <li><a href="#">hall of fame</a></li>
        </ol>
    </nav>


    <div id="notificationBig" class="notification">Congratulations! You’we just leveled up!</div>

{% endblock %}
{% block content %}
    <div id="sub_header_holder">
        <div class="separator"></div>
        <div id="sub_header" class="clearfix">

            <div id="user_stats">

                <div id="user_indicators">

                    <div id="user_level_holder" class="clearfix">
                        <div id="user_level" class="stats_square stats_contrast">{{ userprofile.lvl }}</div>
                        <div id="user_level_bar_holder" class="stats_contrast"><div id="user_level_bar"><div id="user_level_bar_fluid"></div></div></div>
                        <div id="user_level_progress" class="stats_square stats_contrast"></div>
                    </div>

                    <div id="user_division_holder" class="clearfix">
                        <div id="user_division" class="stats_square stats_contrast">{{ userprofile.division }}</div>
                        <div id="user_division_relegation" class="stats_square stats_contrast">C</div>
                        <div id="user_division_status" class="stats_contrast"><div id="user_division_bar_holder"><div id="user_division_bar"></div></div></div>
                        <div id="user_division_promotion" class="stats_square stats_contrast">A</div>
                    </div>

                </div>

                <div id="user_hangar_holder" class="stats_contrast">
                    <div id="user_hangar_plane"><img src="{{ STATIC_URL }}img/battle/map/mini_maps/airborne.png" alt="airborne"/></div>
                    <div id="user_hangar_button" class="stats_contrast">hangar</div>
                </div>

                <div id="user_profile_money_holder">
                    <div id="user_money" class="stats_contrast"><strong>$</strong> {{ userprofile.money }}</div>
                    <div id="user_profile" class="stats_contrast">profile</div>
                </div>

                <div id="user_season_games">
                    <div id="user_remaining_games_holder"><div id="user_remaining_games" class="stats_square stats_contrast">7</div><span>remaining games</span></div>
                    <div id="user_games_stats_holder"><div id="user_games_won" class="stats_square stats_contrast">{{ userprofile.won }}</div><div id="user_games_lost" class="stats_square stats_contrast">{{ userprofile.lost }}</div><span>won vs. lost</span></div>
                </div>

                <div id="user_battle_button" class="stats_contrast">
                    <span>division battle</span>
                </div>

            </div>



        </div>
        <div class="separator"></div>
    </div>

    <div id="body">
        <div id="lobby">
            <div id="division_stats_header" class="clearfix">
                <span><h3>Divison D1 Statistics</h3></span>
                <span><form method="post" action="#" id="division_stats_sort"><label for="stats_sort">Order by:</label><select id="stats_sort"><option>rank</option><option>level</option><option>badges</option><option>money</option></select></form></span>
            </div>

            <div id="division_stats">
                <table id="division_ranks" class="bordered">
                    <thead>
                    <tr>
                        <th>rank</th>
                        <th>user</th>
                        <th>level</th>
                        <th>battles</th>
                        <th>badges</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><div class="user_avatar"><img src="{{ userprofile.gravatar_url }}?s=21" /></div>arghy zmeu</td>
                        <td>23</td>
                        <td>24 won / 7 lost</td>
                            <td>28 <a href="#" class="button">view locker</a></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5"><a class="button">load more</a></td>
                    </tr>
                    </tfoot>

                </table>
            </div>

            <div id="online_players_list_header" class="clearfix">
                <span><h3>Online Players List</h3></span>
                <span><form method="post" action="#" id="division_stats_sort"><label for="online_sort">Order by:</label><select id="online_sort"><option>rank</option><option>level</option><option>badges</option><option>money</option></select></form></span>
            </div>

            <ul id="online_players_list" class="clearfix">

                </ul>
            </div>

        </div>
    </div>

    <div id="versus">

        <ul id="versus_players">
            <li id="versus_p1"><div id="versus_p1_name">arghy zmeu</div><div id="versus_p1_stats"><ul><li id="lvl1">level: 47</li><li id="clan1">clan: Outclan</li><li id="won1">won: 35</li><li id="lost1">lost: 28</li></ul></div><div id="versus_p1_plane"><img id="img1" src="/static/img/user/lobby/avioane/mig.png" alt="mig" /></div></li>
            <li id="vs"></li>
            <li id="versus_p2"><div id="versus_p2_name">arghy zmeu</div><div id="versus_p2_stats"><ul><li id="lvl2">level: 47</li><li id="clan2">clan: Outclan</li><li id="won2">won: 35</li><li id="lost2">lost: 28</li></ul></div><div id="versus_p2_plane"><img id="img2" src="/static/img/user/lobby/avioane/mig.png" alt="airborne" /></div></li>
            <div class="clearfix"></div>
        </ul>

    </div>
    <a id="start_battle_a" href="#"><div id="start_battle_button">start battle</div></a>
    <div id="battle">

        <div id="map"><div id="notificationSmall" class="notification">Congratulations! You’we just leveled up!</div></div>

        <div id="mini_map"></div>


        <div id="planes_health">
            <ul>
                <li><div class="mini_plane"></div><div class="plane_health_bar"><div class="plane_health"></div></div></li>
                <li><div class="mini_plane"></div><div class="plane_health_bar"><div class="plane_health"></div></div></li>
                <li><div class="mini_plane"></div><div class="plane_health_bar"><div class="plane_health"></div></div></li>
                <div class="clearfix"></div>
            </ul>

            <div id="console">
                Last shot: Missed (A-5) (5:20 , 5/5/2012)
                Last shot: Missed (A-4) (5:20 , 5/5/2012)
                Last shot: Missed (D-8) (5:20 , 5/5/2012)
                Last shot: Missed (F-3) (5:20 , 5/5/2012)
            </div>

        </div>

    </div>

        <div id="game" style="display: none">
            <div id="gameTools">
                <button id="ready">I'm Ready!</button>
            </div>
            <div id="gameHolder" style="position: relative;"></div>
        </div>

    <div id="win-loss" style="display: none;">
        YOU WON!
    </div>

{% endblock %}