{% extends 'index.html' %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/socket.io-client/dist/socket.io.min.js"></script>
    <script src="{{ STATIC_URL }}js/django-validate.js"></script>
    <script src="{{ STATIC_URL }}js/frontpage.js"></script>
    <script src="{{ STATIC_URL }}js/login.js"></script>
    <script src="{{ STATIC_URL }}js/register.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.jparallax.min.js" ></script>
    <script src="{{ STATIC_URL }}js/jquery.event.frame.js" ></script>
    <script type="text/javascript">
        jQuery(document).ready(function()
        {
            $('#parallax .parallax-layer')
                    .parallax({
                        mouseport: $('#parallax')
                    });
        });
    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock %}
{% block header %}
    <div id="logo"><a href="#"><img src="{{ STATIC_URL }}img/logo.png" alt="Avioane" /></a></div>

    <nav id="user_menu">
        <ol>
            <li>Register</li>
            <li>Login</li>
        </ol>
    </nav>

    <nav id="game_menu">
        <ol>
            <li><a href="/">home</a></li>
            <li><a href="/hangar">hangar</a></li>
            <li><a href="/shop">shop</a></li>
        </ol>
    </nav>



{% endblock %}
{% block content %}

    <div id="error">

    <div id="parallax" class="clear">
        <div class="parallax-layer" style="width:1200px; height:250px;">
            <img src="{{ STATIC_URL }}img/404/mesaj.png" alt="" style="width:916px; height:140px;"/>
        </div>


    </div>
    </div>

{% endblock %}



